@model List<ResultMessageDto>
@{
    ViewData["Title"] = "MessageList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Gelen Mesaj Listesi</h4>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Gönderen</th>
                                    <th scope="col">E-mail</th>
                                    <th scope="col">Başlık</th>
                                    <th scope="col">Tarih</th>
                                    <th scope="col">Mesajı Aç</th>
                                    <th scope="col">Güncelle</th>
                                    <th scope="col">Sil</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    count++;
                                    <tr>
                                        <td>@count</td>
                                        <td>@item.NameSurname</td>
                                        <td>@item.Email</td>
                                        <td>@item.Subject</td>      
                                        <td>@item.SendDate.ToString("dd-MMM-yyyy")</td>      
                                        <td><a href="/Message/UpdateMessage/@item.MessageId" class="btn btn-info" />Mesajı Aç</td>
                                        <td><a href="/Message/UpdateMessage/@item.MessageId" class="btn btn-success" />Güncelle</td>
                                        <td><a href="/Message/DeleteMessage/@item.MessageId" class="btn btn-danger" />Sil</td>

                                    </tr>
                                }

                            </tbody>
                        </table>
                        <a href="/Message/CreateMessage/" class="btn btn-info">Yeni Mesaj Ekle</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

